nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
  }
  nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }

  @media screen and (max-width: 933px) {
    html {
      font-size: 45%;
    }
    nav {
      text-align: center;
    }
    #logo {
      padding: 2rem;
    }
  }